.option {
    background-color: #00C2CB;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
    cursor: pointer;
    opacity: 0.8;
    transition: 0.4s;
}
  
.option:hover {
    opacity: 1;
}
  
#options-container .option p {
    margin-bottom: 0;
}
  
.correct {
    background-color: #0bfc03;
    font-weight: bold;
}
  
.wrong {
    background-color: #FF5757;
    opacity: 0.5;
}
  
.hide {
    display: none;
}